*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
nerf_synthetic
multi-scale
360_v2
benchmark*
debug*
fused
.trae/
verfication/

# dataset
360_extra_scenes*
360_extra_scenes/
360_v2*
360_v2/
nerf_synthetic*
nerf_synthetic/
nerf_real_360*
nerf_real_360/
nerf_llff_data*
nerf_llff_data/
tmp_trae_script/